async-timeout==4.0.3 ; python_version >= "3.10" and python_full_version <= "3.11.2"
certifi==2023.11.17 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "4.0"
idna==3.6 ; python_version >= "3.10" and python_version < "4.0"
plexapi==4.15.7 ; python_version >= "3.10" and python_version < "4.0"
redis==5.0.1 ; python_version >= "3.10" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.10" and python_version < "4.0"
rtoml==0.10.0 ; python_version >= "3.10" and python_version < "4.0"
schedule==1.2.1 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
spotipy==2.23.0 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
