{% extends "base.html.j2" %}

{% block title %}Playlists - Spotiplex{% endblock %}

{% block content %}
<script>
    var startTime = new Date();
    {% include "js/script.js" %}
</script>
<script src="{{ url_for('static', filename='js/script.js')}}"> </script>

<div class="container mt-4">
    <h1>Playlists</h1>
    {% for playlist_name, tracks in playlists.items() %}
    <div class="card mt-3">
        <div class="card-header" id="heading{{ loop.index }}">
            <h2 class="mb-0">
                {# Apply red color to playlist name if it contains an error #}
                {% if "Error processing playlist" in playlist_name %}
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapse{{ loop.index }}" aria-expanded="true"
                    aria-controls="collapse{{ loop.index }}" style="color: red;">
                    {{ playlist_name }}
                </button>
                {% else %}
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapse{{ loop.index }}" aria-expanded="true"
                    aria-controls="collapse{{ loop.index }}">
                    {{ playlist_name }}
                </button>
                {% endif %}
            </h2>
        </div>

        {# Only populate tracks if playlist_name does not contain an error #}
        {% if "Error processing playlist" not in playlist_name %}
        <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}">
            <div class="card-body">
                <div class="tracks">
                    <h3>Tracks</h3>
                    <ul>
                        <ul>
                            {% for track in tracks %}
                            <li>
                                <span class="track-name">{{ track[0] }}</span> {# track name #}
                                <span class="by-text">by</span>
                                <span class="artist-name">{{ track[1] }}</span> {# artist name #}
                                {% if track[2] %}
                                <span class="track-status">&#10003;</span> {# Checkmark symbol #}
                                {% else %}
                                <span class="track-status">&#10007;</span> {# "X" symbol #}
                                <button onclick="manualMatch('{{ track[0] | tojson }}', '{{ track[1] | tojson }}', 'track{{ loop.index }}')">Manual Match</button>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>

                    </ul>
                </div>

            </div>


        </div>
        {% else %}

        {% endif %}
    </div>
    {% endfor %}

</div>



{% endblock %}