{% extends "base.html.j2" %}

{% block content%}
<iframe id='kofiframe' src='https://ko-fi.com/0xchloe/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#f9f9f9;' height='712' title='0xchloe'></iframe>
{%endblock%}